[client-server]
# Port or socket location where to connect
port = 3306
# socket = /run/mysqld/mysqld.sock

!includedir /etc/mysql/conf.d/
!includedir /etc/mysql/mariadb.conf.d/
[mysqld]
user = root
[server]
bind-address = 0.0.0.0